py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Deps
deps/*.change
deps/*.deb

deps/decorator/*
!deps/decorator/stdeb.cfg
!deps/decorator/debian/control
!deps/decorator/debian/compat
!deps/decorator/debian/changelog
!deps/decorator/debian/rules
!deps/decorator/debian/source/*

deps/validictory/
!deps/validictory/debian/control
!deps/validictory/debian/compat
!deps/validictory/debian/changelog
!deps/validictory/debian/rules
!deps/validictory/debian/source/*
!deps/validictory/stdeb.cfg

deps/mutagen/
!deps/mutagen/debian/control
!deps/mutagen/debian/compat
!deps/mutagen/debian/changelog
!deps/mutagen/debian/rules
!deps/mutagen/debian/source/*
!deps/mutagen/stdeb.cfg

deps/gmusicapi/
!deps/gmusicapi/debian/control
!deps/gmusicapi/debian/compat
!deps/gmusicapi/debian/changelog
!deps/gmusicapi/debian/rules
!deps/gmusicapi/debian/source/*
!deps/gmusicapi/stdeb.cfg

deps/chardet/
!deps/chardet/debian/control
!deps/chardet/debian/compat
!deps/chardet/debian/changelog
!deps/chardet/debian/rules
!deps/chardet/debian/source/*
!deps/chardet/stdeb.cfg
